.tweetBox {
  padding-bottom: 20px;
  border-bottom: 8px solid var(--background-color);
}
.tweetBox > form {
  display: flex;
  flex-direction: column;
}
.tweetBox_input {
  display: flex;
  padding: 10px;
}

.tweetBox_input > input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 20px;
  font-size: 20px;
}

.tweetBox_tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit;
  width: 80px !important;
  height: 40px !important;
  border-radius: 30px !important;
  margin: 10px 10px 0px auto !important;
}

.tweetBox_imageInput {
  border: none;
  padding: 10px;
  outline: none;
}
